//VARIABLES

//Override BS5 Variables
$theme-colors: (
  "primary": #EAE9E4,
  "secondary": #DFDCCF
);

//Colors
$white: #FFF;
$black: #000000;
$grey-primary: #EAE9E4;
$grey-secondary: #DFDCCF;
$light-gold: #6a5921;
$pink: #eb00ff;
$border: #9e9e9e;

//Fonts weight
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-semi-bold: 600;
$weight-bold: 700;
$weight-extra-bold: 800;
$weight-mega-bold: 900;

//Fonts size sur base 16px !!!
$font-base: 16px;
$font-12: 0.75em; // 12px
$font-14: 0.875em; // 14px
$font-18: 1.125em; // 18px
$font-20: 1.25em; // 20px
$font-24: 1.5em; // 24px
$font-34: 2.125em; // 34px
$font-50: 3.125em; // 50px
$font-64: 4em; // 64px
$font-90: 5.625em; //90px

//Letter Spacing
$spacing-3: 0.3em;

//Border-Radius
$radius: 15px;

//Fonts
$font-primary: 'Cormorant Garamond', serif;
$font-secondary: 'Cinzel', serif;
$font-tertiary: 'Playfair Display', serif;
$font-open: 'Open Sans', sans-serif;

@mixin font($size: 16px, $font-weight: 500, $letter-spacing: 0, $familly: $font-primary ) {
  font-size: $size;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
  font-family: $familly;
}
